Repository avolantis/ts-guid, pull requests merged in 2021-03, with the labels that each got.

#32 Tests
  tests/V4.spec.ts
  tests/util.spec.ts
Labels: test

#26 Bug fixes
  .eslintrc.js
  .gitignore
  .versionrc.js
  CHANGELOG.md
  README.md
  build/dist.js
  build/index.js
  build/lib.js
  build/types.js
  config/babel.browser.js
  config/babel.esm.js
  config/babel.node.js
  config/changelog.js
  config/commit.js
  config/commitlint.js
  config/jest-jsdom.js
  config/jest-node.js
  config/jest.js
  config/lint-staged.js
  config/rollup.js
  config/version-updater.js
  package.json
  src/Guid.ts
  src/GuidVariant.ts
  src/GuidVersion.ts
  src/NonEnumerable.ts
  src/V4/detector.ts
  src/V4/generator.ts
  src/V4/index.ts
  src/V4/random/index.ts
  src/V4/random/math.ts
  src/V4/random/node.ts
  src/V4/random/web.ts
  src/V4/unsafe.ts
  src/V4/validator.ts
  src/constants.ts
  src/generator/UnsafeRandom.ts
  src/generator/V4_crypto.ts
  src/generator/index.ts
  src/handlers.ts
  src/index.ts
  src/types.ts
  src/util.ts
  src/version.ts
  tests/Guid.spec.ts
  tests/V4.spec.ts
  tests/factory-methods.spec.ts
  tests/util.spec.ts
  tsconfig.json
  yarn.lock
Labels: bug, documentation, enhancement, test

#138 valueEquals static & instance method
  README.md
  src/Guid.ts
  tests/instance-methods.spec.ts
  tests/static-methods.spec.ts
Labels: enhancement
